{% extends 'analisis/base.html' %}
{% block title %}Textos Subidos{% endblock %}
{% block content %}

<h1>Textos Subidos</h1>

<ul>
    {% for texto in textos %}
        <li>
            <strong>{{ texto.titulo }}</strong><br>
            <a href="{{ texto.archivo.url }}" class="button">Visualizar</a>
            <a href="{% url 'histograma' texto.id %}" class="button">Histograma</a>
             <a href="{% url 'ngramas' texto.id %}" class="button">N-Gramas</a>
        </li>
    {% endfor %}
</ul>

<a href="{% url 'subir_texto' %}" class="button">⬆ Subir nuevo texto</a>

{% endblock %}
