{% extends 'analisis/base.html' %}
{% block title %}{{ n }}-gramas{% endblock %}

{% block content %}
<h1>{{ n }}-gramas del texto: {{ texto.titulo }}</h1>

<form method="get" style="margin-bottom:20px;">
    <label for="n">Ingrese tamaño de n-grama:</label>
    <input type="number" id="n" name="n" min="1" value="{{ n }}" style="width:50px;">
    <button type="submit" class="button">Generar</button>
</form>

<table>
    <tr>
        <th>N-grama</th>
        <th>Frecuencia</th>
    </tr>
    {% for ngrama, frecuencia in contador %}
    <tr>
        <td>{{ ngrama }}</td>
        <td>{{ frecuencia }}</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'lista_textos' %}" class="button">⬅ Volver</a>
{% endblock %}
